# Scrapping Data

### Countries in the world by population (2025)

In [105]:
from bs4 import BeautifulSoup
import requests

In [147]:
url = 'https://www.worldometers.info/world-population/population-by-country/'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [149]:
page

In [173]:
print(soup)

##  Find and Find_all

In [183]:
soup.find('div')

In [177]:
soup.find_all('div')

In [187]:
soup.find('table')

In [111]:
soup.find_all('span')[0]

<span><svg aria-hidden="true" class="size-2 mt-0.5 text-zinc-800" fill="currentColor" viewbox="0 0 16 10" xmlns="http://www.w3.org/2000/svg"> <path d="M15.434 1.235A2 2 0 0 0 13.586 0H2.414A2 2 0 0 0 1 3.414L6.586 9a2 2 0 0 0 2.828 0L15 3.414a2 2 0 0 0 .434-2.179Z"></path> </svg></span>

In [113]:
world_title = soup.find_all('th')

In [115]:
world_title

[<th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true"> <span>#</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true"> <span>Country (or dependency)</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Population 2025</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Yearly Change</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Net Change</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Density (P/KmÂ²)</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Land Area (KmÂ²)</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Migrants (net)</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Fert. Rate</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Median Age</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>Urban Pop %</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>,
 <th class="px-2 border-e border-zinc-200 align-middle text-center font-semibold border-b-3 py-1" data-sortable="true" data-type="number"> <span>World Share</span> <svg aria-hidden="true" class="size-4 shrink-0" data-sorting-icon="true" fill="none" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> <path d="m8 15 4 4 4-4m0-6-4-4-4 4" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> </svg> </th>]

In [117]:
word_table_title = [title.text.strip() for title in world_title]
print(word_table_title)

['#', 'Country (or dependency)', 'Population 2025', 'Yearly Change', 'Net Change', 'Density (P/KmÂ²)', 'Land Area (KmÂ²)', 'Migrants (net)', 'Fert. Rate', 'Median Age', 'Urban Pop %', 'World Share']

##  Converting HTML into Data Frame

In [119]:
import pandas as pd

In [121]:
df = pd.DataFrame(columns = word_table_title)
df

Empty DataFrame
Columns: [#, Country (or dependency), Population 2025, Yearly Change, Net Change, Density (P/KmÂ²), Land Area (KmÂ²), Migrants (net), Fert. Rate, Median Age, Urban Pop %, World Share]
Index: []

In [190]:
column_data = soup.find_all('tr')
column_data

In [145]:
for row in column_data[1:]:    #     [1:] removes # column
    row_data = row.find_all('td')
    individual_raw_data = [row.text.strip()   for row in row_data]

    length = len(df)
    df.loc[length] = individual_raw_data

df

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.1%,17.78%
1,2,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.5%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.8%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.1,30.4,59.6%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","â1,235,336",3.5,20.6,34.4%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...,...
461,229,Montserrat,"4,359",â0.68%,â30,44,100,â9,1.45,41.6,11.5%,0.000053%
462,230,Falkland Islands,"3,469",â0.03%,â1,0,"12,170",â17,1.7,42.8,68%,0.000042%
463,231,Tokelau,"2,608",4.07%,102,261,10,53,2.57,27.3,â,0.000032%
464,232,Niue,"1,821",0.11%,2,7,260,3,2.46,35.7,44.5%,0.000022%
465,233,Holy See,501,1.01%,5,"1,253",0,13,1,57.4,â,0.0000061%

#### Save to the file

In [135]:
df.to_csv(r'C:\Users\user\Documents\Data_Analitika_Standard_7_oy\Python (pandas, matplotlib, seaborn)\Jypiter lessons\Scrapping Data + Pandas\Population.csv', index= False)

##  Cleaning

In [10]:
import pandas as pd

In [194]:
df = pd.read_csv('Population.csv')
df

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.10%,17.78%
1,2,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.50%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.80%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.10,30.4,59.60%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","â1,235,336",3.50,20.6,34.40%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...,...
694,229,Montserrat,"4,359",â0.68%,â30,44,100,â9,1.45,41.6,11.50%,0.00%
695,230,Falkland Islands,"3,469",â0.03%,â1,0,"12,170",â17,1.70,42.8,68%,0.00%
696,231,Tokelau,"2,608",4.07%,102,261,10,53,2.57,27.3,â,0.00%
697,232,Niue,"1,821",0.11%,2,7,260,3,2.46,35.7,44.50%,0.00%
698,233,Holy See,501,1.01%,5,"1,253",0,13,1.00,57.4,â,0.00%

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   #                        699 non-null    int64
 1   Country (or dependency)  699 non-null    object
 2   Population 2025          699 non-null    object
 3   Yearly Change            699 non-null    object
 4   Net Change               699 non-null    object
 5   Density (P/KmÂ²)         699 non-null    object
 6   Land Area (KmÂ²)         699 non-null    object
 7   Migrants (net)           699 non-null    object
 8   Fert. Rate               699 non-null    float64
 9   Median Age               699 non-null    float64
 10  Urban Pop %              699 non-null    object
 11  World Share              699 non-null    object
dtypes: float64(2), int64(1), object(9)
memory usage: 65.7+ KB

In [44]:
df.describe()

                #  Fert. Rate  Median Age
count  699.000000  699.000000  699.000000
mean   117.000000    2.306094   31.896996
std     67.308851    1.132690    9.846798
min      1.000000    0.690000   14.500000
25%     59.000000    1.470000   22.900000
50%    117.000000    1.940000   32.800000
75%    175.000000    2.950000   39.800000
max    233.000000    5.940000   57.400000

In [52]:
df.isna()

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False

In [54]:
df.isna().sum()

#                          0
Country (or dependency)    0
Population 2025            0
Yearly Change              0
Net Change                 0
Density (P/KmÂ²)           0
Land Area (KmÂ²)           0
Migrants (net)             0
Fert. Rate                 0
Median Age                 0
Urban Pop %                0
World Share                0
dtype: int64

In [50]:
df.isnull()

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
694,False,False,False,False,False,False,False,False,False,False,False,False
695,False,False,False,False,False,False,False,False,False,False,False,False
696,False,False,False,False,False,False,False,False,False,False,False,False
697,False,False,False,False,False,False,False,False,False,False,False,False
698,False,False,False,False,False,False,False,False,False,False,False,False

In [56]:
df.isnull().sum()

#                          0
Country (or dependency)    0
Population 2025            0
Yearly Change              0
Net Change                 0
Density (P/KmÂ²)           0
Land Area (KmÂ²)           0
Migrants (net)             0
Fert. Rate                 0
Median Age                 0
Urban Pop %                0
World Share                0
dtype: int64

### Remove unnecessary charecters in data frame

In [196]:
df.head()

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","â495,753",1.94,28.8,37.10%,17.78%
1,2,China,"1,416,096,094",â0.23%,"â3,225,184",151,"9,388,211","â268,126",1.02,40.1,67.50%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.80%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","â39,509",2.10,30.4,59.60%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","â1,235,336",3.50,20.6,34.40%,3.10%

In [92]:
df['Yearly Change']

0         0.89%
1      â0.23%
2         0.54%
3         0.79%
4         1.57%
         ...
694    â0.68%
695    â0.03%
696       4.07%
697       0.11%
698       1.01%
Name: Yearly Change, Length: 699, dtype: object

In [203]:
df['Yearly Change'] = df['Yearly Change'].str.replace(r'[ â]', '', regex=True)
df['Net Change'] = df['Net Change'].str.replace(r'[ â]', '', regex=True)
df['Migrants (net)'] = df['Migrants (net)'].str.replace(r'[ â]', '', regex=True)

In [205]:
df

,#,Country (or dependency),Population 2025,Yearly Change,Net Change,Density (P/KmÂ²),Land Area (KmÂ²),Migrants (net),Fert. Rate,Median Age,Urban Pop %,World Share
0,1,India,"1,463,865,525",0.89%,"12,929,734",492,"2,973,190","495,753",1.94,28.8,37.10%,17.78%
1,2,China,"1,416,096,094",0.23%,"3,225,184",151,"9,388,211","268,126",1.02,40.1,67.50%,17.20%
2,3,United States,"347,275,807",0.54%,"1,849,236",38,"9,147,420","1,230,663",1.62,38.5,82.80%,4.22%
3,4,Indonesia,"285,721,236",0.79%,"2,233,305",158,"1,811,570","39,509",2.10,30.4,59.60%,3.47%
4,5,Pakistan,"255,219,554",1.57%,"3,950,390",331,"770,880","1,235,336",3.50,20.6,34.40%,3.10%
...,...,...,...,...,...,...,...,...,...,...,...,...
694,229,Montserrat,"4,359",0.68%,30,44,100,9,1.45,41.6,11.50%,0.00%
695,230,Falkland Islands,"3,469",0.03%,1,0,"12,170",17,1.70,42.8,68%,0.00%
696,231,Tokelau,"2,608",4.07%,102,261,10,53,2.57,27.3,â,0.00%
697,232,Niue,"1,821",0.11%,2,7,260,3,2.46,35.7,44.50%,0.00%
698,233,Holy See,501,1.01%,5,"1,253",0,13,1.00,57.4,â,0.00%